.univ-search-results-wrapper .brew-search-component:first-child {
  border-top: 1px solid #9D9D9D;
}
.univ-search-results-wrapper .brew-search-component:nth-child(even) {
  background-color: #DADFE4;
}
.brew-search-component {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none !important;
  border: none;
  background-color: inherit;
  font-size: initial;
  font-family: inherit;
  text-align: inherit;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 1px solid #9D9D9D;
  border-top: none;
  width: 500px;
  padding: 15px 5px;
  cursor: pointer;
}

.brew-result-text-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  pointer-events: none;
}
.brew-result-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}
.brew-search-component:hover .brew-result-text {
  opacity: 0.5;
}
.brew-search-component:focus {
  background-color: #4D4D4D;
}
.brew-mug {
  height: 25px;
  width: 25px;
  min-height: 25px;
  min-width: 25px;
  margin-right: 10px;
}
.brew-name {
  width: 100%;
}

.brew-stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  margin-right: 15px;
  font-size: 12px;
  color: #aaa;
  width: 100%;
}

.brew-result-count {
  font-style: italic;
  color: goldenrod;
  margin-top: 20px;
}
.brew-search-category-head {
  padding-top: 0;
}
.brew-search-category-head .brew-result-text {
  padding-top: 15px;
}
.brew-result-header {
  width: 100%;
  border-bottom: 1px solid #9d9d9d;
  padding: 5px 5px;
  background: #2D2D2D;
  color: #FFF;
}
.brew-no-match {
  font-style: italic;
  color: red;
}
